<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title><%=name %></title>
    <link rel="stylesheet" href="lib/editor/editormd.min.css"/>
    <link rel="stylesheet" href="stylesheets/editor.css"/>
</head>
<body>
<div id="editormd"></div>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="lib/editor/editormd.min.js"></script>
<script type="text/javascript">
    var Editor;

    $(function () {

        Editor = editormd({
            id: "editormd",
            width: "100%",
            height: 900,
            path: "lib/editor/lib/",
            toolbarIcons: function () {
                // Or return editormd.toolbarModes[name]; // full, simple, mini
                // Using "||" set icons align right.
                return ["spacer", "preview", "bold", "italic", "spacer", "link", "quote", "code", "image", "spacer", "del", "list-ol", "list-ul", "hr", "spacer", "undo", "redo", "||", "user", "spacer", "submit"]
            },
            // 用于增加自定义工具栏的功能，可以直接插入HTML标签，不使用默认的元素创建图标
            toolbarCustomIcons: {
                user: '<span class="mybtn user"><i class="fa fa-user"></i><%=name%></span>',
                spacer: '<span class="wmd-spacer"></span>',
                submit: '<button onclick="post();" class="mybtn submit"><i class="fa fa-share-square-o"></i>发布</button>'
            }
        });
    });

    function post() {
        var title = Editor.getMarkdown().match(/#\s*(.*)\n/);
        var tags = Editor.getMarkdown().match(/Tags:\s*(.*)\s+\n/);
        var validity = Editor.getMarkdown().match(/validity:\n((.|\n)+)content:/);
        var content=Editor.getMarkdown().match(/content:\n((.|\n)+)/);
        console.log(validity[1]);
        $.ajax({
            url: '/article',
            type: 'post',
            dataType: "json",
            data: {
                title: title ? title[1] : '还没有标题。。。。',//标题
                tags: tags ? tags[1].split(' ') : ['未分类'],//标签
                validity: validity!=null ? validity[1] : "还没有简介。。。。",
                content: content!=null ? content[1] : "还没有内容。。。。"//内容
            },
            success: function (result) {
                console.log(result);
            }
        });

    }
</script>
</body>
</html>