<!DOCTYPE html>
<html>
<head>
    <title><%=name %>的个人博客</title>
    <link rel="stylesheet" href="/stylesheets/reset.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<nav>
    <div class="wrapper clearfix">
        <a class="logo" href="/">
            <img src="/images/favicon.ico" alt="<%=name %>"/>

            <h1><%=name %><span>/个人博客</span></h1>
        </a>
        <ul class="tags clearfix">
            <li class="cur"><a href="#">首页</a></li>
            <li><a href="#">前端开发</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">生活杂记</a></li>
            <li><a href="#">还有什么</a></li>
        </ul>
    </div>
</nav>
<div class="wrapper frm-body clearfix">
    <!--文章列表-->
    <div class="frm-main">
        <section class="mod-article">
            <h2 class="title"><a href="">使用 highlight.js 高亮你的代码</a></h2>

            <div class="detail clearfix">
                <p>Shadow DOM 最近在尝试做公司的前端组件化，采用自创的CBC（Classname Based Components）模式。今天学习了一下 Web Components
                    规范的其中一个组成部分，Shadow DOM，也算为今后的组件化之路进行铺垫吧。 什么是 Shadow DOM? Shadow DOM
                    在我们开发组件的时候弥补了DOM树封装性不足的缺点。通过Shadow DOM，
                </p>
            </div>
            <ul class="info clearfix">
                <li class="date"><i class="fa fa-clock-o"></i>2015/12/12</li>
                <li class="author"><i class="fa fa-user"></i>塔歌</li>
                <li class="view"><i class="fa fa-eye"></i>5013</li>
                <li class="tag"><i class="fa fa-tags"></i>前端开发，JavaScript</li>
            </ul>
            <a class="more" href=""><i class="fa fa-external-link"></i>阅读全文</a>
        </section>
        <section class="mod-article">
            <h2 class="title"><a href="">使用 highlight.js 高亮你的代码</a></h2>

            <div class="detail clearfix">
                <img src="http://placehold.it/250x150" alt=""/>

                <p>Shadow DOM 最近在尝试做公司的前端组件化，采用自创的CBC（Classname Based Components）模式。今天学习了一下 Web Components
                    规范的其中一个组成部分，Shadow DOM，也算为今后的组件化之路进行铺垫吧。 什么是 Shadow DOM? Shadow DOM
                    在我们开发组件的时候弥补了DOM树封装性不足的缺点。通过Shadow DOM，
                </p>
            </div>
            <ul class="info clearfix">
                <li class="date"><i class="fa fa-clock-o"></i>2015/12/12</li>
                <li class="author"><i class="fa fa-user"></i>塔歌</li>
                <li class="view"><i class="fa fa-eye"></i>5013</li>
                <li class="tag"><i class="fa fa-tags"></i>前端开发，JavaScript</li>
            </ul>
            <a class="more" href=""><i class="fa fa-external-link"></i>阅读全文</a>
        </section>
        <section class="mod-article">
            <h2 class="title"><a href="">使用 highlight.js 高亮你的代码</a></h2>

            <div class="detail clearfix">
                <p>Shadow DOM 最近在尝试做公司的前端组件化，采用自创的CBC（Classname Based Components）模式。今天学习了一下 Web Components
                    规范的其中一个组成部分，Shadow DOM，也算为今后的组件化之路进行铺垫吧。 什么是 Shadow DOM? Shadow DOM
                    在我们开发组件的时候弥补了DOM树封装性不足的缺点。通过Shadow DOM，
                </p>
            </div>
            <ul class="info clearfix">
                <li class="date"><i class="fa fa-clock-o"></i>2015/12/12</li>
                <li class="author"><i class="fa fa-user"></i>塔歌</li>
                <li class="view"><i class="fa fa-eye"></i>5013</li>
                <li class="tag"><i class="fa fa-tags"></i>前端开发，JavaScript</li>
            </ul>
            <a class="more" href=""><i class="fa fa-external-link"></i>阅读全文</a>
        </section>
        <section class="mod-article">
            <h2 class="title"><a href="">使用 highlight.js 高亮你的代码</a></h2>

            <div class="detail clearfix">
                <img src="http://placehold.it/250x150" alt=""/>

                <p>Shadow DOM 最近在尝试做公司的前端组件化，采用自创的CBC（Classname Based Components）模式。今天学习了一下 Web Components
                    规范的其中一个组成部分，Shadow DOM，也算为今后的组件化之路进行铺垫吧。 什么是 Shadow DOM? Shadow DOM
                    在我们开发组件的时候弥补了DOM树封装性不足的缺点。通过Shadow DOM，
                </p>
            </div>
            <ul class="info clearfix">
                <li class="date"><i class="fa fa-clock-o"></i>2015/12/12</li>
                <li class="author"><i class="fa fa-user"></i>塔歌</li>
                <li class="view"><i class="fa fa-eye"></i>5013</li>
                <li class="tag"><i class="fa fa-tags"></i>前端开发，JavaScript</li>
            </ul>
            <a class="more" href=""><i class="fa fa-external-link"></i>阅读全文</a>
        </section>
        <section class="mod-article">
            <h2 class="title"><a href="">使用 highlight.js 高亮你的代码</a></h2>

            <div class="detail clearfix">
                <img src="http://placehold.it/250x150" alt=""/>

                <p>Shadow DOM 最近在尝试做公司的前端组件化，采用自创的CBC（Classname Based Components）模式。今天学习了一下 Web Components
                    规范的其中一个组成部分，Shadow DOM，也算为今后的组件化之路进行铺垫吧。 什么是 Shadow DOM? Shadow DOM
                    在我们开发组件的时候弥补了DOM树封装性不足的缺点。通过Shadow DOM，
                </p>
            </div>
            <ul class="info clearfix">
                <li class="date"><i class="fa fa-clock-o"></i>2015/12/12</li>
                <li class="author"><i class="fa fa-user"></i>塔歌</li>
                <li class="view"><i class="fa fa-eye"></i>5013</li>
                <li class="tag"><i class="fa fa-tags"></i>前端开发，JavaScript</li>
            </ul>
            <a class="more" href=""><i class="fa fa-external-link"></i>阅读全文</a>
        </section>
        <section class="mod-article">
            <h2 class="title"><a href="">使用 highlight.js 高亮你的代码</a></h2>

            <div class="detail clearfix">
                <p>Shadow DOM 最近在尝试做公司的前端组件化，采用自创的CBC（Classname Based Components）模式。今天学习了一下 Web Components
                    规范的其中一个组成部分，Shadow DOM，也算为今后的组件化之路进行铺垫吧。 什么是 Shadow DOM? Shadow DOM
                    在我们开发组件的时候弥补了DOM树封装性不足的缺点。通过Shadow DOM，
                </p>
            </div>
            <ul class="info clearfix">
                <li class="date"><i class="fa fa-clock-o"></i>2015/12/12</li>
                <li class="author"><i class="fa fa-user"></i>塔歌</li>
                <li class="view"><i class="fa fa-eye"></i>5013</li>
                <li class="tag"><i class="fa fa-tags"></i>前端开发，JavaScript</li>
            </ul>
            <a class="more" href=""><i class="fa fa-external-link"></i>阅读全文</a>
        </section>
        <section class="mod-article">
            <h2 class="title"><a href="">使用 highlight.js 高亮你的代码</a></h2>

            <div class="detail clearfix">
                <img src="http://placehold.it/250x150" alt=""/>

                <p>Shadow DOM 最近在尝试做公司的前端组件化，采用自创的CBC（Classname Based Components）模式。今天学习了一下 Web Components
                    规范的其中一个组成部分，Shadow DOM，也算为今后的组件化之路进行铺垫吧。 什么是 Shadow DOM? Shadow DOM
                    在我们开发组件的时候弥补了DOM树封装性不足的缺点。通过Shadow DOM，
                </p>
            </div>
            <ul class="info clearfix">
                <li class="date"><i class="fa fa-clock-o"></i>2015/12/12</li>
                <li class="author"><i class="fa fa-user"></i>塔歌</li>
                <li class="view"><i class="fa fa-eye"></i>5013</li>
                <li class="tag"><i class="fa fa-tags"></i>前端开发，JavaScript</li>
            </ul>
            <a class="more" href=""><i class="fa fa-external-link"></i>阅读全文</a>
        </section>

    </div>
    <!--文章内容-->
    <div class="frm-main frm-content">
        <div class="mod-article-dtl">
            <div class="mod-hd">
                <h2 class="title">使用 highlight.js 高亮你的代码</h2>
                <span class="date">时间：2015/12/23</span>
                <span class="view">浏览：2352</span>
            </div>
            <div class="mod-bd">
                这是一段文章测试
            </div>
            <div class="mod-fd">
                <div class="mod-common">
                    <div class="mod-hd"><p class="name">这是用户</p></div>
                    <div class="mod-bd">
                        <p class="content">这貌似是一段试论测试！@#￥%这貌似是一段评论测试！@#￥%</p>

                    </div>
                    <div class="mod-fd">
                        <a href=""><i class="fa fa-mail-reply"></i></a><span class="separate">|</span><span
                            class="date">12:24&nbsp;&nbsp;3个小时前</span>
                    </div>
                </div>
                <div class="mod-common">
                    <div class="mod-hd"><p class="name">这是用户</p></div>
                    <div class="mod-bd">
                        引用：
                        <div class="quote">
                            <p class="name">这是用户</p>

                            <p class="content">这貌似是一段试论测试！@#￥%这貌似是一段评论测试！@#￥%</p>
                        </div>
                        <p class="content">这貌似是一段试论测试！@#￥%这貌似是一段评论测试！@#￥%</p>
                    </div>
                    <div class="mod-fd">
                        <a href=""><i class="fa fa-mail-reply"></i></a><span class="separate">|</span><span
                            class="date">12:24&nbsp;&nbsp;3个小时前</span>
                    </div>
                </div>
                <div class="mod-common">
                    <div class="mod-hd"><p class="name">这是用户</p></div>
                    <div class="mod-bd">
                        <p class="content">这貌似是一段试论测试！@#￥%这貌似是一段评论测试！@#￥%</p>
                        <span class="info"></span>
                    </div>
                    <div class="mod-fd">
                        <a href=""><i class="fa fa-mail-reply"></i></a><span class="separate">|</span><span
                            class="date">12:24&nbsp;&nbsp;3个小时前</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mod-reply">
            <div class="mod-hd">
                <p>我的评论：(部分HTML可用)</p>
            </div>
            <div class="mod-bd">
                <label for="rep_cnt">评论<span class="require">*</span></label><textarea class="rep-cnt" id="rep_cnt"
                                                                                       cols="30" rows="10"></textarea>
                <label for="rep_name">昵称<span class="require">*</span></label><input id="rep_name" type="text"/>
                <label for="rep_mail">邮箱<span class="require">*</span></label><input id="rep_mail" type="email"/>
                <label for="rep_site">个人网站</label><input id="rep_site" type="text"/>
                <label class="lab-remenber" for="remenber">记住我</label><input id="remenber" type="checkbox"/>
                <input class="submit" type="submit" value="发表"/>
            </div>
        </div>
    </div>

    <!--侧边栏-->
    <% include sidebar.html%>


</div>
<footer class="wrapper">
    <div class="cnt_footer">
        <a class="copy" href="/">©塔歌</a>
        <a class="next" href="#"><i class="fa fa-chevron-right"></i></a>
    </div>
</footer>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>
