<nav>
    <div class="wrapper clearfix">
        <a class="logo" href="/">
            <img class="h_img" src="/images/favicon.ico" alt="<%=name %>"/>
            <h1 class="h_name"><%=name %><span>/个人博客</span></h1>
        </a>
        <ul class="tags clearfix">
            <li class="cur"><a href="#">首页</a></li>
            <li><a href="#">前端开发</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">生活杂记</a></li>
            <li><a href="#">还有什么</a></li>
        </ul>
    </div>
</nav>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script>
    $.ajax({
        url: '/tags?top',
        dataType: 'json',
        type: 'get',
        success: function (result) {
            var html="";
            for (var i = 0, v; (v = result.tags[i]) != null; i++) {
                html+='<a href="/article/tags/'+v[0]+'">'+v[0]+'('+v[1]+')</a>'
            }
            $('#tag_content').append(html);
        }
    })
</script>