<div class="frm-aside">
    <div class="mod-resume">
        <div class="mod-hd clearfix">
            <h2>塔歌</h2><a class="follow" href=""><i class="fa fa-github-alt"></i>Follow</a>
        </div>
        <div class="mod-bd">
            <a class="locate" href=""><i class="fa fa-anchor"></i>厦门</a>
            <a class="group" href="#"><i class="fa fa-group"></i>4399</a>
            <a href="tencent://message/?uin=896932646"><i class="fa fa-qq"></i>896932646</a>
            <a href="mailto:bigtage@gmail.com"><i class="fa fa-envelope"></i>bigtage@gmail.com</a>
        </div>
    </div>
    <!--<iframe class="yunPlayer" frameborder="no" border="0" marginwidth="0" marginheight="0" width=290 height=110-->
            <!--src="http://music.163.com/outchain/player?type=0&id=135223629&auto=0&height=90"></iframe>-->
    <div class="mod-tag">
        <div class="mod-hd"><i class="fa fa-tags"></i>标签集</div>
        <div class="mod-bd">
            <a href="#">前端开发(12)</a>
            <a href="#">三字(3)</a>
            <a href="#">java(3)</a>
            <a href="#">node(34)</a>
            <a href="#">生活炸鸡(5)</a>
            <a href="#">两个字(1)</a>
            <a href="#">前端开发(12)</a>
            <a href="#">java(3)</a>
            <a href="#">node(34)</a>
            <a href="#">生活炸鸡(5)</a>
            <a href="#">两个字(1)</a>
            <a href="#">三字(3)</a>
        </div>
    </div>
</div>
